@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src:
    local("ChiQuel-reegular"),
    url("./assets/fonts/ChiQuel 1.otf") format("truetype");
}

@font-face {
  font-family: "Metropolis";
  src: ("./assets/fonts/Metropolis-Black/Metropolis-Regular.otf")
    format("truetype");
}
